.header {
	font-family: 'Baloo Bhai', cursive;
  position: sticky;
	margin-left: 300px;
	font-size: 100px;
}

.ingredients {
	font-family: 'Chivo', sans-serif;
	position: relative;
	font-size: 50px;
	text-transform: full-width;
	line-height: 2.5;
}


.steps {
	font-family: 'Chivo', sans-serif;
	position: relative;
	font-size: 50px;
}

.b12header {
	font-family: 'Archivo Black', sans-serif;
	position: sticky;
	font-size: 100px;
	margin-left: 870px;
}



.its {
	font-family: 'Archivo Black', sans-serif;
	font-size: 49px;
	margin-left: 200px;
}

.perfect {
	font-family: 'Archivo Black', sans-serif;
	font-size: 200px;
}

.ifyou {
	font-family: 'Archivo Black', sans-serif;
	font-size: 38px;
	margin-left: 580px;
}

.exactly {
	font-family: 'Archivo Black', sans-serif;
	font-size: 380px;
}


.like {
	font-family: 'Archivo Black', sans-serif;
	font-size: 70px;
	margin-left: 
}


.this {
	font-family: 'Archivo Black', sans-serif;
	font-size: 55px;
	margin-left: 400px;
}

.ingredients12 {
	font-family: 'Archivo Black', sans-serif;
	padding: 50px;
	margin-left: 300px;
	line-height: 25px;
}



.steps12 {
	font-family: 'Archivo Black', sans-serif;
	margin-left: 600px;
	line-height: 30px;
}


.borscht13header {
	font-family: 'Baloo', cursive;
	padding: 400px;
}

.h13ifyou {
	font-family: 'Baloo', cursive;
	font-size: 28px;

}

.h13itsfire {
	font-family: 'Baloo', cursive;
	margin-left: 680px;
	position: sticky;
}

.ing13 {
	font-family: 'Josefin Slab', serif;
	margin-left: 890px;
	line-height: 30px;
}

.steps13 {
	font-family: 'Josefin Slab', serif;
	position: relative;
	line-height: 40px;
}

.h15{
	font-family: 'Paytone One', sans-serif;
	font-size: 25px;
}

.areyou {
	font-family: 'Vidaloka', serif;
	font-size: 35px;
	margin-left: 780px;
}

.better {
	font-family: 'Coda Caption', sans-serif;
	font-size: 50px;
}

.makesure {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-right: 380px;
	font-size: 15px;
}

.youhave {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	padding: 50px;
	margin-left: 380px;
	font-size: 15px;
}

.steps15 {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-left: 1300px;
	position: absolute;
	font-size: 25px;
}


.steps16 {
font-family: 'Coda Caption', sans-serif;
margin-bottom: 90px;
margin-left: 680px;
line-height: 50px;
}

.ing16 {
	font-family: 'Coda Caption', sans-serif;
	margin-left: 550px;
	line-height: 50px;
	position: relative;
}

.header16 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 100px;
	margin-left: 400px;
}

.h17 {
	float: inherit;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 200px;

}

.ing17 {
	float: left;
	font-family: 'Archivo Black', sans-serif;
	line-height: 60px;
}

.steps17 {
	font-family: 'Archivo Black', sans-serif;
	float: right;
	line-height: 60px;

}


.h18 {
		font-family: 'Chivo', sans-serif;
		font-size: 200px;
		width: 80px;
		position: sticky;
		margin-left: 500px;
		line-height: 300px;
}

.ing18 {
	font-family: 'Chivo', sans-serif;
	font-size: 70px;
	margin-left: 900px;
}

.steps18 {
	font-family: 'Chivo', sans-serif;
	font-size: 70px;
	float: left;
	margin-right: 900px;
	}

.header19 {
	font-family: 'Monoton', cursive;
	font-size: 180px;
	float: left;
	letter-spacing: 19px;
}

.whatsgood {
	font-family: 'Monoton', cursive;
	font-size: 120px;
	kerning: 30px;
	letter-spacing: 30px; 
}

.ingredients19 {
	font-family: 'Alata', sans-serif;
	font-size: 30px;
	clear: 40px;
}


.header20 {
	font-family: 'VT323', monospace;
	font-size: 70px;

}

.fin {
	font-size: 500px;
	font-family: 'VT323', monospace;
	
}