.header {
	font-family: 'Baloo Bhai', cursive;
  position: sticky;
	margin-left: 300px;
	font-size: 100px;
}

.ingredients {
	font-family: 'Chivo', sans-serif;
	position: relative;
	font-size: 50px;
	text-transform: full-width;
	line-height: 2.5;
}


.steps {
	font-family: 'Chivo', sans-serif;
	position: relative;
	font-size: 50px;
}

.b12header {
	font-family: 'Archivo Black', sans-serif;
	position: sticky;
	font-size: 100px;
	margin-left: 870px;
}



.its {
	font-family: 'Archivo Black', sans-serif;
	font-size: 49px;
	margin-left: 200px;
}

.perfect {
	font-family: 'Archivo Black', sans-serif;
	font-size: 200px;
}

.ifyou {
	font-family: 'Archivo Black', sans-serif;
	font-size: 38px;
	margin-left: 580px;
}

.exactly {
	font-family: 'Archivo Black', sans-serif;
	font-size: 380px;
}


.like {
	font-family: 'Archivo Black', sans-serif;
	font-size: 70px;
	margin-left: 
}


.this {
	font-family: 'Archivo Black', sans-serif;
	font-size: 55px;
	margin-left: 400px;
}

.ingredients12 {
	font-family: 'Archivo Black', sans-serif;
	padding: 50px;
	margin-left: 300px;
	line-height: 25px;
}



.steps12 {
	font-family: 'Archivo Black', sans-serif;
	margin-left: 600px;
	line-height: 30px;
}


.borscht13header {
	font-family: 'Baloo', cursive;
	padding: 400px;
}

.h13ifyou {
	font-family: 'Baloo', cursive;
	font-size: 28px;

}

.h13itsfire {
	font-family: 'Baloo', cursive;
	margin-left: 680px;
	position: sticky;
}

.ing13 {
	font-family: 'Josefin Slab', serif;
	margin-left: 890px;
	line-height: 30px;
}

.steps13 {
	font-family: 'Josefin Slab', serif;
	position: relative;
	line-height: 40px;
}


